# Application Configuration
PORT=3000

# Google Gemini API Key for Server-Side AI Chatbot
GEMINI_API_KEY=AIzaSyA5uKggbwl_gSgog99v_I3kyOotFqUfOts

# Nodemailer SMTP Configuration for Contact Form
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=Tressie Nienow
EMAIL_PASS=CNMRXDmKaBTQPAN3QX
RECIPIENT_EMAIL=deepsc0606@gmail.com
